<%- include('partials/header.ejs') %>

<div class="row">
    <div class="col-md-6">
        <h3>Sessions</h3>
    </div>
    <div class="col-md-6 text-end">
        <a href="/sessions" class="btn btn-secondary boardly-bottom-8px">All</a>
        <a href="/add-game-session<%= game_id ? '/' + game_id : '' %>" class="btn btn-success boardly-bottom-8px">Add Session</a>
    </div>
</div>

<% if (sessions.length === 0) { %>
    <p>No game sessions found.</a></p>
<% } else { %>
    <table class="table table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>Game</th>
                <th>Date</th>
                <th>Players</th>
                <th>Notes</th>
                <th style="width: 1%;">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% sessions.forEach((session) => { %>
                <tr>
                    <td><%= session.game_name %></td>
                    <td><%= new Date(session.session_date).toLocaleDateString() %></td>
                    <td><%= session.players_count %></td>
                    <td><%= formatDescription(session.notes) %></td>
                    <td class="text-nowrap">
                        <a href="/edit-game-session/<%= session.id %>" class="btn btn-sm btn-primary">Edit</a>
                        <form action="/delete-game-session/<%= session.id %>" method="POST" style="display: inline;">
                            <input type="hidden" name="game_id" value="<%= session.game_id %>">
                            <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Are you sure you want to delete this session?')">Delete</button>
                        </form>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
<% } %>

<%- include ('partials/footer.ejs') %>
